/*@import url('normalize.css');*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.Mui-focused fieldset {
  border-color: green !important;
}

textarea:focus,
input:focus {
  outline: none !important;
}

*:focus {
  outline: none !important;
}

.Mui-focused {
  color: green !important;
}

.Mui-button {
  background-color: green !important;
  color: #fff !important;
  padding: 1rem 2rem !important;
}

.Mui-button:hover {
  background-color: black !important;
}

.Mui-button:disabled {
  cursor: not-allowed !important;
}

.Mui-mt-5 {
  margin-top: 1.25rem !important;
}

.helper-text {
  color: red !important;
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  outline: none !important;
}
